.selectPerPage {
  border: none;
  background: url('data:image/svg+xml,%0A%3Csvg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M4 5L0 0H8L4 5Z" fill="%23606F89"/%3E%3C/svg%3E%0A') 100% / 28% no-repeat #fff;
  color: #606f89;
  font-weight: 600;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 10px 0 5px;
}