.root {
  font-family: "Inter", sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(75, 81, 91, 0.15);
  max-width: 1020px;
  margin: 20px auto 20px;
  border-radius: 5px;
  overflow: hidden;
}

.table {
  width: 100%;
  table-layout: fixed;
  text-align: left;
}

.thead {
  background: #f4f7fc;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #606f89;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  tr {
    //border-left: 3px solid transparent;
  }

  th {
    padding: 15px 10px;
    vertical-align: middle;
  }
}

.tbody {
  color: #2e3b52;

  tr {
    background: #ffffff;
    //border-left: 3px solid transparent;
    &:nth-of-type(even) {
      background: #f4f7fc;
    }
  }

  th,
  td {
    padding: 15px 10px;
    vertical-align: middle;
  }
}

.checkbox {
  width: 40px;
  text-align: center;
}

.description,
.name {
  width: 200px;
}

.actions {
  width: 100px;
  padding-right: 15px !important;
  text-align: center;

  svg {
    fill: #7d90b2;
  }
}

.rate {
  width: 70px;
}

.balance {
  width: 80px;
}

.sort {
  margin-left: 5px;
  cursor: pointer;
}

.header {
  background: #f4f7fc;
  padding: 20px;
  display: flex;
}

.add {
  background: #0a65ff;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 15px;
  margin-left: auto;
  display: flex;
  align-items: center;

  &:hover {
    background: #0052db;
  }

  svg {
    fill: #ffffff;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.notFound {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.footer {
  color: #606f89;
  background: #ffffff;
  padding: 20px;
  letter-spacing: 0.05em;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    fill: #606f89;
    cursor: pointer;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.pagination {
  display: flex;
  align-items: center;
  margin: 0 -30px;

  div {
    padding: 0 30px;
  }
}

.quantity {
  color: #606f89;
  font-weight: 600;
  font-size: 12px;
  margin-right: 50px;
}

.perPage {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #606f89;
  margin-right: 50px;
  display: flex;
  align-items: center;
}
