.root {
  font-family: "Inter", sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(75, 81, 91, 0.15);
  max-width: 1020px;
  margin: 20px auto 20px;
}
.table {
  width: 100%;
  table-layout: fixed;
  text-align: left;
}
.thead {
  background: #f4f7fc;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #606f89;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  tr {
    border-left: 3px solid transparent;
  }
  th {
    padding: 15px 10px;
    vertical-align: middle;
  }
}
.tbody {
  color: #2e3b52;
  tr {
    background: #ffffff;
    border-left: 3px solid transparent;
    &:nth-of-type(even) {
      background: #F4F7FC;
    }
  }
  th, td {
    padding: 15px 10px;
    vertical-align: middle;
  }
}
.checkbox {
  width: 40px;
  text-align: center;
}
.description, .name {
  width: 200px;
}
.actions {
  width: 100px;
  padding-right: 15px !important;
  text-align: center;
  svg {
    fill: #7D90B2;
  }
}
.rate {
  width: 70px;
}
.balance {
  width: 80px;
}