.id {
  font-size: 12px;
  margin-top: 10px;
}
.name {
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #2E3B52;
}
.description {
  font-size: 14px;
  line-height: 17px;
  color: #2E3B52;
}
