.id {
  font-size: 12px;
  margin-top: 5px;
}
.checkbox {
  text-align: center;
}
.name {
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  color: #2e3b52;
}
.description {
  font-size: 14px;
  line-height: 17px;
  color: #2e3b52;
}
.active {
  background: #ebf2ff !important;
  position: relative;
  border-left: 3px solid #0a65ff !important;
}
.actions {
  position: relative;
  text-align: center;
  padding-right: 15px !important;
  svg {
    fill: #7D90B2;
    cursor: pointer;
    &:hover {
      fill: #000000;
    }
  }
}
.activeWrap {
  display: flex;
  justify-content: space-around;
}